$primaryColor: #a92450;
$primaryLightestColor: #fce4ec;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #ffffff;
$accentColor: #334a6b;
$accentTextColor: #ffffff;

@import "../_variables";
@import "../../_compact";
@import "../../theme-base/_components";
@import "../../extensions/_vendor_extensions";
