$accentColor: #4f78ff;
$gray0: #565d6d;
$accentTextColor: #ffffff;

//Input

.p-inputtext:enabled:hover {
  border-color: $accentColor !important;
}
.p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #3f51b5, inset 0 0 0 1px #3f51b5,
    inset 0 0 0 1px #3f51b5, inset 0 0 0 1px #3f51b5 !important;
}

//CheckBox
.p-checkbox-box {
  border-radius: 4.5px !important;
  border: 1px solid $gray0 !important;
}

.p-checkbox-box.p-highlight {
  border: none !important;
}

//RadioButton
.p-radiobutton-box {
  border-color: $gray0 !important;
}

.p-radiobutton-box {
  border: 1px solid $gray0 !important;
}
.field-checkbox,
.field-radiobutton {
  margin-bottom: 0;
}
//Radiobutton Group
.radiobutton-group {
  margin-bottom: 0;
  display: flex;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.page-content_notfooter {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.page-content {
  width: 100%;
  height: calc(100vh - 10rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.content-body {
  height: -webkit-fill-available;
  flex: 0 0 auto;
  padding: 0.5rem;
}

//Accodian header padding
.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1rem;
}
