$breakpoint: 992px;
@media screen and (min-width: $breakpoint) {
  .tab-content-height {
    height: calc(100vh - 21rem);
    overflow-y: auto;
  }
  //좌측카드 높이설정
  .left-card {
    height: calc(100vh - 15rem);
  }
}
@media screen and (max-width: ($breakpoint - 1)) {
  .tab-content-height {
    height: 100%;
  }
}

//----------접수 테이블(table) 높이------------//
$var1: 44.6rem; //의뢰지 접수 데이터테이블 높이

.datatableHeight {
  height: calc(100vh - #{$var1});
}
