.layout-topbar-dark {
  --topbar-bg: #1f2d40;
  --topbar-start-bg: #1f2d40;
  --topbar-menu-button-bg: #e91e63;
  --topbar-menu-button-hover-bg: #c41953;
  --topbar-menu-button-text-color: #ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);
}
