.layout-menu-pink {
  --menu-bg: #a92450;
  --root-menuitem-text-color: #ffffff;
  --menuitem-text-color: rgba(255, 255, 255, 0.6);
  --menuitem-hover-bg: rgba(255, 255, 255, 0.12);
  --active-menuitem-text-color: #ffffff;
  --active-menuitem-bg: rgba(255, 255, 255, 0.24);
  --inline-menu-border-color: rgba(255, 255, 255, 0.24);
}
